@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    color: #434347;
}
header {
    margin-bottom: 57px;
}
h2 {
    font-size: 20px;
}
input, label {
    display: block;
}
input {
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;
    padding-left: 19px;
}
input:focus {
    outline: none;
    border-color: #C96AA4;
}
label {
    margin-bottom: 12px;
}
button {
    display: inline-block;
    border: none;
    padding: 0 48px 0 48px;
    margin: 0;
    margin-top: 34px;
    height: 42px;
    border-radius: 8px;
    text-decoration: none;
    background: #C96AA4;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #b3558f;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.99);
}
.container {
    background-color: #ffffff;
    border-radius: 2em;
    box-shadow: 0 17px 76px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 21px;
    max-width: 1000px;
}
.container header {
    align-items: center;
    background-color: #8A8A8A;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    display: flex;
    justify-content: center;
    height: 100px;
}
.container header h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}
.section {
    margin-bottom: 35px;
    overflow: hidden;
}
.description {
    width: 267px;
    text-align: right;
    float: left;
    margin-right: 50px;
    margin-top: 42px;
}

.data {
    float: left;
}
.by {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 42px 0.6em 0 0.6em;
}
.print-data {
    width: 50px;
}
.image-data {
    width: 110px;
}
.image-result {
    margin-right: 55px;
}
.image-result input, .die-result input {
    padding: 0;
    width: 110px;
    border: none;
    text-align: center;
    font-size: 20px;
}
.image-result input:focus {
    color: #C96AA4;
}
#image-result-height, #die-result-height {
    text-align: left;
    padding-left: 11px;
    width: 95px;
}
.image {
    width: 110px;
    height: 110px;
    float: left;
    margin-right: 24px;
}
#resize-total .description {
    margin-top: 113px;
}
.h-arrow {
    width: 110px;
    margin-bottom: 20px;
}
.v-arrow {
    height: 110px;
    margin-right: 11px;
    float: left;
}
.right-result {
    height: 110px;
    display: flex;
    align-items: center;
    justify-items: center;
    float: left;
}
#calculate-button {
    float: left;
    margin-left: 1.25em;
}
.image-type {
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 62px;
}
footer {
    background-color: rgb(248, 248, 248);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
footer p {
    text-align: center;
    width: 420px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 19px;
    padding: 22px 0 28px 0;
}
.copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
}